@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap);

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Poppins", serif;
    font-size: 16px;
    box-sizing: border-box;
}

:root {
    --roxo: #6C1DE9;
    --cor-bg: #ECEDF2;
    --cor-texto: #262627;
    --cor-texto-apagado: #AEAEBA;
    --cor-bg-sec: #FFFFFF;
}

body {
    background-color: var(--cor-bg);
}

/* Header */
header {
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--cor-bg-sec);
    display: flex;
    padding: 12px 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    align-items: center;
    justify-content: space-between;
    & nav {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        & ul {
            display: flex;
            gap: 70px;
            list-style-type: disc;
            & li, a {
                cursor: pointer;
                color: var(--cor-texto);
                transition: 0.1s;
                &:hover {
                    color: var(--roxo);
                }
            }
        }
    }
}

.div-usuario {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding-left: 50px;
    border-left: 1px solid rgba(0,0,0,0.15);
    & i {
        font-size: 1.8rem;
        color: var(--cor-texto);
    }
    & p {
        font-size: 1.2rem;
        color: var(--cor-texto);
        font-weight: 600;
    }
}

/* Fim do Header */

.div-logo {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    & img {
        width: auto;
        height: 25px;
    }
    & p, span {
        font-size: 2rem;
        font-family: "Racing Sans One", serif;
    }
    & span {
        color: var(--roxo);
    }
}

/* Main */

.main {
    background-color: var(--cor-bg);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.bloco-login {
    background-color: var(--cor-bg-sec);
    width: 450px;
    height: 350px;
    border-radius: 20px;
    box-shadow: 0px 13px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.div-title-x {
    display: flex;
    position: relative;
}

.coolinput {
    display: flex;
    flex-direction: column;
    position: static;
    width: 385px;
  }
  
  .coolinput label.text {
    font-size: 0.60rem;
    color: #9CA3AF;
    font-weight: 600;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: #FFFFFF;
    width: fit-content;
  }
  
  .coolinput input[type="text"].input {
    padding: 10px 19px;
    font-size: 0.75rem;
    border: 2px #ECEDF2 solid;
    border-radius: 5px;
    background: #FFFFFF;
  }
  
  .coolinput input[type="text"].input:focus {
    outline: none;
  }

  .coolinput label.password {
    font-size: 0.60rem;
    color: #9CA3AF;
    font-weight: 600;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: #FFFFFF;
    width: fit-content;
  }
  
  .coolinput input[type="password"].input {
    padding: 10px 19px;
    font-size: 0.75rem;
    border: 2px #ECEDF2 solid;
    border-radius: 5px;
    background: #FFFFFF;
  }
  
  .coolinput input[type="password"].input:focus {
    outline: none;
  }
  
  .btn-criar-conta {
    background-color: #6C1DE9;
    color: var(--cor-bg-sec);
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    width: 385px;
    height: 50px;
  }

  .title-bloco-login {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
  }

  .fechar a{
    text-decoration: none;
    color: var(--cor-texto);
    font-size: 40px;
    position: absolute;
    left: 320px;
    top: -30px;
    cursor: pointer;
  }

  .p-criar-conta {
    font-size: 13px;
    font-weight: 300;
  }

  .link-criar-conta a{
    color: #6C1DE9;
    font-size: 13px;
    font-weight: 600;
  }

/* Fim do Main */

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 80px;
    & .div-contato {
        background-color: var(--roxo);
        padding: 40px 0;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 100px;
        width: inherit;
        & div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 15px;
            & .footer-title {
                color: var(--cor-bg-sec);
                font-weight: 600;
            }
            & .footer-text {
                color: var(--cor-bg-sec);
                font-weight: 300;
                font-size: 0.85rem;
                cursor: pointer;
            }
        }
    }
    & .div-logo {
        padding: 15px 0;
        background-color: var(--cor-bg-sec);
        width: inherit;
    }
    & .div-direitos-reservados {
        padding: 10px 0;
        width: inherit;
        background-color: var(--cor-texto);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        & p {
            color: var(--cor-bg-sec);
            font-size: 0.85rem;
        }
        & .net {
            color: var(--roxo);
            font-family: "Racing Sans One", serif;

        }
        & .cars {
            color: var(--cor-bg-sec);
            font-family: "Racing Sans One", serif;
        }
    }
}
/* Fim do Footer */

/* Responsivo */

@media (max-width: 890px) {
    nav {
        display: none;
    }
    .div-usuario {
        border: none;
        padding: 0;
    }
}

@media (max-width: 648px) {
    .div-contato {
        flex-direction: column;
        align-items: center !important;
        justify-content: center;
        gap: 50px !important;
        & div {
            align-items: center !important;
        }
    }
}

@media (max-width: 518px) {
    .bloco-login {
        scale: 0.9;
    }
}

@media (max-width: 444px) {
    .bloco-login {
        scale: 0.75;
    }
    header {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 320px) {
    .bloco-login {
        scale: 0.65;
    }
}