@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap);

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Poppins", serif;
    font-size: 16px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --roxo: #6C1DE9;
    --cor-bg: #ECEDF2;
    --cor-texto: #262627;
    --cor-texto-apagado: #AEAEBA;
    --cor-bg-sec: #FFFFFF;
    --cor-titles: #696977;
}

body {
    background-color: var(--cor-bg);
}


/* Header */
header {
    width: 100%;
    background-color: var(--cor-bg-sec);
    display: flex;
    padding: 12px 50px 12px 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    align-items: center;
    justify-content: space-between;
}

.div-usuario {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-left: 1px solid rgba(0,0,0,0.15);
    padding-left: 20px;
    & i {
        font-size: 1.8rem;
        color: var(--cor-texto);
    }
    & p {
        font-size: 1.2rem;
        color: var(--cor-texto);
        font-weight: 600;
    }
}

.div-logo {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    & img {
        width: auto;
        height: 25px;
    }
    & p, span {
        font-size: 2rem;
        font-family: "Racing Sans One", serif;
        
    }& p{
        padding-right: 30px;
        border-right: 1px solid rgba(0,0,0,0.15);
    }& h1{
        font-size: 1.7rem;
        padding-left: 15px;
        font-weight: 300;
    }
    & span {
        color: var(--roxo);
    }
}
/* Main */

main{
    display: flex;
    height: 87vh;
    & .container-perfil{
        width: 289px;
        height: 100vh;
        border-top: 1px solid rgba(0,0,0,0.15);
        background: var(--cor-bg-sec);
        & nav{
            padding: 40px 0;
            display: flex;
            flex-direction: column;
            gap: 25px;
            border-top: 1px solid rgba(0,0,0,0.15);
            & span{
                border-left: solid 4px var(--roxo);
                border-radius: -10px;
                & i, a {
                    color:var(--cor-texto);
                }
            }
            & a{
                padding-left: 15px;
                display: flex;
                align-items: center;
                gap: 10px;
                color: var(--cor-titles);
                font-size: 1.1em;
                transition: 0.15s;
                &:hover{
                    border-left: solid 4px var(--cor-titles);
                } 
        } 
        }
    & .perfil-usuario{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        & i{
            padding-top: 30px;
            font-size: 50px;
        }
        & h2{
            font-size: 1.2rem;
            font-weight: normal;
        } & p{
            font-size: 1rem;
            font-weight: 300;
            padding-bottom: 30px;
        }
    }
    }
    .container-infomações{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        & h2{
            font-size: 1.7rem;
            font-weight: 400;
        }
        & .infomações-usuario{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: var(--cor-bg-sec);
            width: 700px;
            height: 550px;
            border-radius: 20px;
            & h3{
                font-size: 1.1rem;
                font-weight: 400;
            }
            & form{
                padding-top: 20px;
                display: flex;
                flex-direction: column;
                position: relative;
                gap: 25px;
                & .container-input{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    width: 30vw;
                    position: relative;
                    &:focus-within label {
                        top: 0;
                        color: var(--roxo);
                        font-size: 0.8rem;
                        background-color: var(--cor-bg-sec);
                        z-index: 3;
                        padding: 0 3px;
                    }
                }
                & label{
                    position: absolute;
                    top: 50%;
                    left: 8px;
                    transform: translateY(-50%);
                    background: var(--cor-bg-sec);
                    padding: 0 5px;
                    transition: all 0.2s ease-in-out;
                    z-index: 1;
                    color: var(--cor-titles);
                    &.active {
                        top: 0;
                        color: var(--roxo);
                        font-size: 0.8rem;
                        background-color: var(--cor-bg-sec);
                        z-index: 3;
                        padding: 0 3px;
                    }
                }
                & input {
                    position: relative;
                    z-index: 2;
                    background-color: transparent;
                    padding: 8px;
                    border-radius: 10px;
                    border: 1px solid var(--cor-texto-apagado);
                    outline: none;
                    &:hover {
                        border: 1px solid var(--roxo);
                    }
                }

                & button {
                    background: var(--roxo);
                    color: var(--cor-bg-sec);
                    border: none;
                    padding: 10px;
                    border-radius: 20px;
                }
            } 
            
        }
    }
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 80px;
    & .div-contato {
        background-color: var(--roxo);
        padding: 40px 0;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 100px;
        width: inherit;
        & div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 15px;
            & .footer-title {
                color: var(--cor-bg-sec);
                font-weight: 600;
            }
            & .footer-text {
                color: var(--cor-bg-sec);
                font-weight: 300;
                font-size: 0.85rem;
                cursor: pointer;
            }
        }
    }
    & .div-logo {
        padding: 15px 0;
        background-color: var(--cor-bg-sec);
        width: inherit;
    }
    & .div-direitos-reservados {
        padding: 10px 0;
        width: inherit;
        background-color: var(--cor-texto);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        & p {
            color: var(--cor-bg-sec);
            font-size: 0.85rem;
        }
        & .net {
            color: var(--roxo);
            font-family: "Racing Sans One", serif;

        }
        & .cars {
            color: var(--cor-bg-sec);
            font-family: "Racing Sans One", serif;
        }
    }
}