@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap);

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Poppins", serif;
    font-size: 16px;
    box-sizing: border-box;
}

:root {
    --roxo: #6C1DE9;
    --cor-bg: #ECEDF2;
    --cor-texto: #262627;
    --cor-texto-apagado: #AEAEBA;
    --cor-bg-sec: #FFFFFF;
}


/* Header */
header {
    position: fixed;
    width: 100%;
    background-color: var(--cor-bg-sec);
    display: flex;
    padding: 12px 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    align-items: center;
    justify-content: space-between;
    & nav {
        & ul {
            display: flex;
            gap: 70px;
            list-style-type: disc;
            & li, a {
                color: var(--cor-texto);
                transition: 0.1s;
                &:hover {
                    color: var(--roxo);
                }
            }
        }
    }
}

.div-user-cart {
    display: flex;
    & .div-usuario {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding-left: 50px;
        border-left: 1px solid rgba(0,0,0,0.15);
        & i {
            font-size: 1.8rem;
            color: var(--cor-texto);
        }
        & p {
            font-size: 1.2rem;
            color: var(--cor-texto);
            font-weight: 600;
        }
    }
    & .div-cart {
        cursor: pointer;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        padding: 0 50px;
        & i {
            font-size: 1.6rem;
            color: var(--cor-texto);
        }
        & p {
            background-color: var(--roxo);
            color: var(--cor-bg-sec);
            position: absolute;
            font-size: 0.7rem;
            font-weight: 600;
            padding: 1px 3px;
            border-radius: 50px;
            right: 36px;
            bottom: -5px;
        } 
    }
}

/* Fim do Header */

.div-logo {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    & img {
        width: auto;
        height: 25px;
    }
    & p, span {
        font-size: 2rem;
        font-family: "Racing Sans One", serif;
    }
    & span {
        color: var(--roxo);
    }
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    & .div-contato {
        background-color: var(--roxo);
        padding: 40px 0;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 100px;
        width: inherit;
        & div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 15px;
            & .footer-title {
                color: var(--cor-bg-sec);
                font-weight: 600;
            }
            & .footer-text {
                color: var(--cor-bg-sec);
                font-weight: 300;
                font-size: 0.85rem;
                cursor: pointer;
            }
        }
    }
    & .div-logo {
        padding: 15px 0;
        background-color: var(--cor-bg-sec);
        width: inherit;
    }
    & .div-direitos-reservados {
        padding: 10px 0;
        width: inherit;
        background-color: var(--cor-texto);
        display: flex;
        align-items: center;
        justify-content: center;
        & p {
            color: var(--cor-bg-sec);
            font-size: 0.85rem;
        }
        & .net {
            color: var(--roxo);
            font-family: "Racing Sans One", serif;

        }
        & .cars {
            color: var(--cor-bg-sec);
            font-family: "Racing Sans One", serif;
        }
    }
}
/* Fim do Footer */