@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap);

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Poppins", serif;
    font-size: 16px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --roxo: #6C1DE9;
    --hover-roxo: #5a19c1;
    --cor-bg: #ECEDF2;
    --cor-texto: #262627;
    --cor-texto-apagado: #AEAEBA;
    --cor-bg-sec: #FFFFFF;
    --cor-titles: #696977;
}

body {
    background-color: var(--cor-bg);
}


/* Header */
header {
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--cor-bg-sec);
    display: flex;
    padding: 12px 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    align-items: center;
    justify-content: space-between;
    & nav {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        & ul {
            display: flex;
            gap: 70px;
            list-style-type: disc;
            & li, a {
                padding: 35px 0;
                cursor: pointer;
                color: var(--cor-texto);
                transition: 0.1s;
                &:hover {
                    color: var(--roxo);
                }
            }
        }
    }
}


.div-usuario {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 0 0 0 50px;
    border-left: 1px solid rgba(0,0,0,0.15);
    & i {
        font-size: 1.8rem;
        color: var(--cor-texto);
    }
    & p {
        font-size: 1.2rem;
        color: var(--cor-texto);
        font-weight: 600;
    }
}

/* Fim do Header */

/* Modais */

#modal-nav-veiculos {
    background-color: var(--cor-bg-sec);
    box-shadow: 0 0 20px rgba(0,0,0,0.25);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 10px 10px;
    padding-top: 15px;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    z-index: 95;
    & div {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        gap: 15px;
        cursor: pointer;
        transform: 0.1s;
        border-radius: inherit;
        &:hover {
            background-color: var(--cor-bg);
        }
    }
}

#modal-login {
    position: fixed;
    z-index: 101;
    top: 75px;
    right: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--cor-bg-sec);
    padding: 30px;
    border-radius: 15px;
    box-sizing: content-box;
    width: 250px;
    & .title {
        font-size: 0.9rem;
        color: var(--cor-texto);
        font-weight: 500;
    }
    & .btn-login {
        cursor: pointer;
        background-color: var(--roxo);
        color: var(--cor-bg-sec);
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.9rem;
        border-radius: 15px;
        padding: 15px;
        transition: 0.1s;
        &:hover {
            background-color: var(--hover-roxo);
        }
    }
    & #closeModalLogin {
        position: absolute;
        cursor: pointer;
        top: -4px;
        right: 6px;
        font-size: 1.8rem;
    }
    & .subtitle {
        color: var(--cor-titles);
        font-size: 0.85rem;
        text-align: center;
    }
    & a {
        color: var(--roxo);
        font-weight: 600;
        cursor: pointer;
        font-size: 0.85rem;
        &:hover {
            text-decoration: underline;
        }
    }
}

/* Fim dos modais */

.div-logo {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    & img {
        width: auto;
        height: 25px;
    }
    & p, span {
        font-size: 2rem;
        font-family: "Racing Sans One", serif;
    }
    & span {
        color: var(--roxo);
    }
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    margin-top: 65px;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-bg);
    gap: 70px;
}

.sec-pesquisar {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 180px;
    width: 100%;
}

.banner {
    height: 40vh;
    width: 100%;
    background: url('../img/banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.veiculo-selecionado {
    border-bottom: 4px solid var(--roxo);
    color: var(--cor-texto);
    transition: 0.2s;
}
.veiculo-nao-selecionado {
    border-bottom: 4px solid var(--cor-bg-sec);
    color: var(--cor-texto-apagado);
    transition: 0.2s;
}

#div-input-pesquisar-moto {
    display: none;
}

.div-pesquisar-veiculos {
    background-color: var(--cor-bg-sec);
    box-shadow: 0px 10px 20px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 35px;
    position: absolute;
    bottom: -170px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    & .div-comprar {
        display: flex;
        gap: 20px;
        & p {
            font-weight: 700;
            font-size: 1.1rem;
            cursor: pointer;
            padding-bottom: 10px;
        }
    }
    & .div-input-pesquisar {
        display: flex;
        position: relative;
        gap: 15px;
        & input {
            height: 60px;
            width: 500px;
            border: 2px solid var(--cor-texto-apagado);
            border-radius: 10px;
            padding-left: 50px;
        }
        & p {
            cursor: pointer;
            height: 60px;
            padding: 0 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 300px;
            background-color: var(--roxo);
            border-radius: 10px;
            text-transform: uppercase;
            color: var(--cor-bg-sec);
            font-weight: 500;
            transition: 0.1s;
            &:hover {
                background-color: var(--hover-roxo);
            }
        }
        & i {
            position: absolute;
            left: 17px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 1.4rem;
            color: var(--cor-texto-apagado);
        }
    }
}

h4 {
    color: var(--cor-titles);
    font-size: 1.2rem;
}

.sec-marcas {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    & .div-marcas {
        display: flex;
        gap: 20px;
        & div {
            transition: 0.2s;
            cursor: pointer;
            background-color: var(--cor-bg-sec);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            box-shadow: 0 0 20px rgba(108, 29, 233, 0.3);
            & img {
                width: 100px;
                height: auto;
            }
            &:hover {
                scale: 1.07;
            }
        }
    }
}

.sec-modelos {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    & .div-modelos {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        
        & div::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: inherit;
            background-size: cover;
            background-position: center;
            transition: transform 0.25s ease-in-out;
        }
        
        & div:hover::before {
            transform: scale(1.1);
        }

        & div {
            cursor: pointer;
            width: 218px;
            height: 280px;
            border-radius: 10px;
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            padding: 20px;
            position: relative;
            overflow: hidden;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            & .overlay {
                position: absolute;
                z-index: 1;
                height: 100%;
                width: 100%;
                background: linear-gradient(to top, rgba(0,0,0,0.45), rgba(0,0,0,0));
                left: 0;
                top: 0;
            }
            & p {
                font-size: 1.4rem;
                color: var(--cor-bg-sec);
                position: relative;
                z-index: 2;
            }
        }
    }
}

.eletricos {
    background-image: url(../img/eletrico.svg);
}
.populares {
    background-image: url(../img/bannerPopular.svg);
}

.picapes {
    background-image: url(../img/bannerPicapes.svg);
}
.sedans {
    background-image: url(../img/bannerSedans.svg);
}
.suvs {
    background-image: url(../img/bannerSUVs.svg);
}

.esportivas {
    background-image: url(../img/esportivas.png);
}
.populares-motos {
    background-image: url(../img/populares-motos.png);
}
.trail {
    background-image: url(../img/trail.png);
}
.big-trail {
    background-image: url(../img/big-trail.png);
}
.supermoto {
    background-image: url(../img/supermoto.png);
}

/* Fim do Main */

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 80px;
    & .div-contato {
        background-color: var(--roxo);
        padding: 40px 0;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 100px;
        width: inherit;
        & div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 5px;
            & .footer-title {
                color: var(--cor-bg-sec);
                font-weight: 600;
            }
            & .footer-text {
                color: var(--cor-bg-sec);
                font-weight: 300;
                font-size: 0.85rem;
                cursor: pointer;
                transition: 0.1s;
                padding: 10px 0;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    & .div-logo {
        padding: 15px 0;
        background-color: var(--cor-bg-sec);
        width: inherit;
    }
    & .div-direitos-reservados {
        padding: 10px 0;
        width: inherit;
        background-color: var(--cor-texto);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        & p {
            color: var(--cor-bg-sec);
            font-size: 0.85rem;
        }
        & .net {
            color: var(--roxo);
            font-family: "Racing Sans One", serif;

        }
        & .cars {
            color: var(--cor-bg-sec);
            font-family: "Racing Sans One", serif;
        }
    }
}
/* Fim do Footer */

/* Barra lateral */

.barra-lateral {
    width: 300px;
    height: 100vh;
    position: fixed;
    z-index: 201;
    top: 0;
    right: 0;
    display: none;
    flex-direction: column;
    background-color: var(--cor-bg-sec);
    justify-content: center;
    align-items: center;
    gap: 30px;
    animation: abrirBarraLateral 1s;
    & .div-usuario {
        border: none;
        padding: 0;
    }
    & #closeBarraLateral {
        position: absolute;
        cursor: pointer;
        top: 2px;
        right: 15px;
        font-size: 2.3rem;
    }
    & nav {
        & ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            list-style-type: disc;
            gap: 25px;
            & li, a {
                padding: 15px 0;
                cursor: pointer;
                color: var(--cor-texto);
                transition: 0.1s;
                &:hover {
                    color: var(--roxo);
                }
            }
        }
    }
}

.sanduiche {
    display: none;
    width: 34px;
    flex-direction: column;
    gap: 6px;
    & .linha1, .linha2, .linha3 {
        border-radius: 10px;
        width: 100%;
        height: 4px;
        background-color: var(--cor-texto);
    }
}

.overlay-bg {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.45);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 200;
    display: none;
    animation: aparecerOverlay 1s;
}

@keyframes abrirBarraLateral {
    0% {
        right: -100%;
    }
    100% {
        right: 0;
    }
}

@keyframes fecharBarraLateral {
    0% {
        right: 0;
    }
    100% {
        right: -100%;
    }
}

@keyframes aparecerOverlay {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes sumirOverlay {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

/* Fim da barra lateral */

/* Responsivo */

@media (max-width: 1240px) {
    .div-pesquisar-veiculos {
        padding: 35px;
        gap: 25px;
        bottom: -170px;
        & .div-comprar {
            gap: 20px;
            & p {
                font-size: 1rem;
                padding-bottom: 5px;
            }
        }
        & .div-input-pesquisar {
            gap: 15px;
            & input {
                height: 60px;
                width: 350px;
                padding-left: 50px;
                font-size: 0.9rem;
            }
            & p {
                height: 60px;
                padding: 0 20px;
                width: 240px;
                font-size: 0.85rem;
            }
            & span {
                font-size: 0.85rem;
            }
            & i {
                left: 22px;
                font-size: 0.9rem;
            }
        }
    }
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    main {
        width: 90vw;
    }
    .sec-pesquisar {
        width: 100vw;
    }
    .sec-marcas {
        position: relative;
        left: -20px;
        width: 100%;
        & h4 {
            padding-left: 20px;
        }
        .div-carrossel {
            width: calc(100% + 20px);
            overflow: auto;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        & .div-marcas {
            padding: 15px;
            width: fit-content;
        }
    }
    .sec-modelos {
        width: 100%;
        .div-carrossel {
            width: 100%;
            overflow: auto;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        & .div-modelos {
            width: fit-content;
        }
    }
}

@media (max-width: 768px) {
    header {
        & nav {
            display: none;
        }
        & .div-usuario {
            display: none;
        }
        & .sanduiche {
            display: flex;
        }
    }
    .sec-marcas {
        & .div-marcas {
            & div {
                width: 110px;
                height: 110px;
                & img {
                    width: 75px;
                    height: auto;
                }
            }
        }
    }

    .sec-modelos {
        & .div-modelos {
            & div {
                width: 160px;
                height: 202px;
                & p {
                    font-size: 1.15rem;
                }
            }
        }
    }
}

@media (max-width: 450px) {
    * {
        font-size: 14px;
    }

    header {
        height: 64px;
    }

    .banner {
        top: 0;
        height: 15vh;
    }

    .div-pesquisar-veiculos {
        padding: 25px;
        gap: 20px;
        bottom: -200px;
        & .div-input-pesquisar {
            gap: 15px;
            flex-direction: column;
            & input {
                height: 50px;
                width: 75vw;
                padding-left: 35px;
                font-size: 0.8rem;
            }
            & p {
                height: 50px;
                width: 75vw;
                font-size: 0.8rem;
            }
            & span {
                font-size: 0.8rem;
            }
            & i {
                left: 15px;
                font-size: 0.9rem;
                top: 24%;
                transform: translateY(-50%);
            }
        }
    }

    footer {
        & .div-contato {
            align-items: center;
            gap: 50px;
            flex-direction: column;
            & div {
                align-items: center;
            }
        }
    }
}

/* Fim do responsivo */


